.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: white;
  background-color: #333;
  padding: 10px;
  letter-spacing: 0.03em;
  font-weight: bold;
  border: 1px solid black;
}

.white {
  background-color: #ffffff;
}

.grey {
  background-color: #ececec;
}

.text {
  font-weight: 500;
  font-size: 20px;
  padding: 12px 20px;
  color: #333;
  text-transform: capitalize;
  border: 1px solid black;
}
